@import '../styles/custom-media.css';

.root {
  display: grid;
  grid-template-columns:
  1fr
  min(80ch, 100%)
  1fr;
  /* padding: 1.5em;  */
  
  
  @media (--media-min-small) {
    /* padding: 2em; */
    margin:0 auto ;
  }
}

.wrapper {
  grid-column: 2;
  padding: 1em;
}
.fullBleed {
  width: 100%;
  grid-column: 1 / -1;
}