@import '../styles/custom-media.css';
.image{
 margin: 0 auto;
 padding: 1em 0;
 display: block;
  }
 .wrapper{
  background: #1B1E3F;
 }
.h1{
  max-width: 75%;    
  letter-spacing: 0.05em;
  font-size: 2.2rem;
  margin : 0; 
  line-height: 1.25;
@media (--media-max-middle){
  max-width: 100%;
  margin: 0 ;
}
 
  @media (--media-max-small){
    
    font-size: 1.304rem;
  }
}

.h3{
  color: #ff57a8;
  margin: 0;  
  @media (--media-max-small){
  font-size: 0.75rem;
}
}

.p{
  margin: 0 auto;
  max-width: 55ch;
  font-size: 1.1rem;
  padding: 1em; 
  color: #fff;
  @media (--media-min-large){
    padding: 3rem 0;
    font-size: 1.5rem;
}
}

.bkground {
  background-color: #1B1E3F;
}
