
@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.wrapper{
    background-color: #1B1E3F;
    padding:1em;
}
.h2{
    text-align: center;
    padding: .4em 1em;
    margin: 1em auto;
    font-weight: 600;
    color: #ffffff;
    max-width: 700px;
    font-size: 3em;
    @media (--media-max-medium){
        font-size: 1.6em;
    }
}
.ul{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
    max-width: 80ch;
    padding: 0 1em;
    margin : 0 auto;
    @media (--media-max-small){
        grid-template-columns:1fr;
    }
}
.img{
 display: block;
 width:100%;
 height: auto;
  background-size: cover;
  @media (--media-max-small){
    height:60px;
    width:auto;
        }
}
 .a{
display: flex;
flex-direction: column;
@media (--media-max-small){
    flex-direction:row;
    padding: 0.5em;
}
}

.p{
 padding:  1.2em 0; 
 align-self: center;
 color: #fff;
 @media (--media-max-small){
    padding: 0 0 0 .5em;
    font-size: .8em;
}
} 
