@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.content {
 
  min-height: calc(100% - 73px - 120px);
  @media (--media-min-small) {
    min-height: calc(100% - 91px - 155px);
  }
}
 small{
   display: block;
   text-align: center;
 }
.footer {
  background: #1B1E3F;
  color: #fff;
  padding:  .5em 1em;
  
  @nest & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.footerWrapper {
  max-width: 1080px;
  display: flex;
  margin: 0 auto 3em auto; 
  flex-wrap: wrap;
  
  @media (--media-min-medium) {
    /* padding: 6em 2em 2em;  */
    flex-wrap: nowrap;
  }
}
.heading{
  padding-top: .2em ;
  font-size: 2.5em;
}
.social{
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0; 
}
.navbarfooter{
  @media (--media-min-medium) {
  padding:  0 2em;
  }
  display: flex;
  flex-direction: column;
}
.navbarfooterHeader{
  font-size: 1.8em;
  width: max-content;
  padding: .5em 0 .2em 0;
  font-weight: 700;
}
.a{
  font-size:1em;
  padding: .15em;
}
.aSocial{
  padding: 0 .3em;
}
.headingWrapper{
@media (--media-min-medium) {
  min-width: 60%;
}
}
.sub{
  /* padding: .2em 0; */
}