@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.image{
  border-radius: 50%;
  grid-row: 2;
  grid-column: 2;
}
 .teams{
   
 }
  
  .h5{
    position: absolute;
    padding: 0;
    font-size: 1.2em;
    bottom: 0;
    left: 8px;
    color: var(--color-white); 
  }
  .h6{
    position: absolute;
    padding: 0;
    right: 8px;
    font-size: .9em;
    color: var(--color-white);
  }

