@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
.rootelem{
    @media (--media-min-medium){
    display: grid;
    }
}


.list{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    @media (--media-max-medium){
 
   } 
}